/**********
STYLE.CSS
© xzl 
******/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, 
pre, a, abbr, acronym, address, big, 
cite, code, del, dfn, em, img, ins, 
kbd, q, samp, small, strike, mark, 
strong, sub, sup, tt, var, audio,
i, dl, dt, dd, ol, ul, li, b, 
fieldset, form, label, legend,
table, caption, tbody, tfoot, tr, 
th, td, thead, article, aside, canvas, 
details, figure, figcaption, footer, header, 
hgroup, menu, nav, output, section, summary, time, 
u, s, applet, center, ruby, embed {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; content: ''; content: none; }
a, a:hover, a:visited, a:focus, a:active { text-decoration: none; outline: none; }
input, select, textarea { outline: none !important;}
